<a href="https://colab.research.google.com/github/Remy-usf/Deliverable-6---Python-Data-Structures/blob/main/Deliverable_(6)_Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Step (1): Import the pandas, numpy, and seaborn libraries.
import pandas as pd
import numpy as np
import seaborn as sns

In [11]:
#Step (2): Use the code line below to load the "iris" dataset and store it as a data frame.
iris = sns.load_dataset('iris')

iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
#Step (3): Drop the "species" column in the iris data frame.
iris = iris.drop(columns=['species'])

iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [13]:
#Step (4): Add two more columns to the iris data frame, "sepal_sum" and "petal_sum". The "sepal_sum" is the sum of the values from the "sepal_length" and "sepal_width" columns. On the other hand, The "petal_sum" is the sum of the values from the "petal_length" and "petal_width" columns.
iris['sepal_sum'] = iris['sepal_length'] + iris['sepal_width']
iris['petal_sum'] = iris['petal_length'] + iris['petal_width']

iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [15]:
#Step (5): Create a new data frame with the summary stats for the iris dataset. For this summary, compute each column's mean, standard deviation, and minimum and maximum values.
summary_df = pd.DataFrame({
    'Mean': iris.mean(),
    'Standard Deviation': iris.std(),
    'Minimum': iris.min(),
    'Maximum': iris.max()
})

In [6]:
print(summary_df)

                  Mean  Standard Deviation  Minimum  Maximum
sepal_length  5.843333            0.828066      4.3      7.9
sepal_width   3.057333            0.435866      2.0      4.4
petal_length  3.758000            1.765298      1.0      6.9
petal_width   1.199333            0.762238      0.1      2.5
sepal_sum     8.900667            0.889272      6.8     11.7
petal_sum     4.957333            2.507689      1.2      9.2